.App {
    --header_height: 60px;
}

.hw {

}

.hwTitle {
    font-size: 22px;
    font-weight: bold;
    margin: 15px;
    border-bottom: 1px solid #a19d9d;
    border-top: 1px solid #a19d9d;

    padding-bottom: 5px;
    padding-top: 15px;
}